@font-face {
  font-family: M6;
  src: url('font/m6x11.ttf')  format("truetype");
  }
  
  @font-face {
      font-family: M6;
  src: url('font/m6x11.ttf')  format("truetype");
      font-weight: bold; /* bold */
  }
  
  @font-face {
      font-family: M6;
  src: url('font/m6x11.ttf')  format("truetype");
      font-style: italic; /* italic */
  }
  
  @font-face {
      font-family: M6;
  src: url('font/m6x11.ttf')  format("truetype");
      font-style: italic; /* italic */
      font-weight: bold; /* bold */
  }

  @font-face {
      font-family: Kubasta;
  src: url('font/Kubasta.ttf')  format("truetype");
  }
  @font-face {
    font-family: Newsgeek;
      src: url('font/Newsgeek.ttf')  format("truetype");
    }
    
    @font-face {
      font-family: Newsgeek;
      src: url('font/Newsgeek.ttf')  format("truetype");
      font-weight: bold; /* bold */
    }
    
    @font-face {
      font-family: Newsgeek;
      src: url('font/Newsgeek.ttf')  format("truetype");
      font-style: italic; /* italic */
    }
    
    @font-face {
      font-family: Newsgeek;
      src: url('font/Newsgeek.ttf')  format("truetype");
      font-style: italic; /* italic */
      font-weight: bold; /* bold */
    }

body {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2%;
  font-size: 15px;
  font-family: Kubasta;
  background-color: #fffbeb;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #b4edef 25%, transparent 25%, transparent 75%, #b4edef 75%, #b4edef), repeating-linear-gradient(45deg, #b4edef 25%, #fffbeb 25%, #fffbeb 75%, #b4edef 75%, #b4edef);
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
}

table.LinkTable {
    border: 2px solid #3388AA;
    background-color: #EEE7DB;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.LinkTable td, table.LinkTable th {
    border: 1px solid #AAAAAA;
    padding: 5px 2px;
  }
  table.LinkTable tbody td {
    font-size: 13px;
  }
  table.LinkTable tr:nth-child(even) {
    background: #F2CEE1;
  }
  table.LinkTable thead {
    background: #38A1BF;
  }
  table.LinkTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #38A1BF;
  }
  table.LinkTable thead th:first-child {
    border-left: none;
  }
  
  table.LinkTable tfoot td {
    font-size: 13px;
  }
  table.LinkTable tfoot .links {
    text-align: right;
  }
  table.LinkTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .container {
      margin: 10px;
      text-align: center;
  }

  h1 {
background: linear-gradient(180deg, rgba(59,159,208,1) 0%, rgba(244,200,221,1) 49%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px black;
  }

  #img-list {
    list-style-image: url(bul8.gif);
  }

  .center {
    text-align: center;
  }